body {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.pagewrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.questioncontainer {
	height: 420px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.question {
	font-size: 6em;
	margin: 0;
	padding-left: 1vw;
	padding-right: 1vw;
}

.changebutton {
	margin-top: 3em;
	width: 25%;
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.time {
	font-size: 4em;
	margin: 0px;
}

.red {
	background-color: red;
}
.green {
	background-color: green;
}
